html {
    font-size: 62.5%;
}
body {
    background: rgb(var(--color-background));
    color: rgb(var(--color-text));
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
:after,
:before {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    transition: 0.15s;
    outline: 0;
}
a:hover {
    color: rgb(var(--color-blue)) !important;
}

#app {
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(var(--color-background-200));
    min-height: 100vh;
    overflow: hidden;
}
.page-content {
    min-height: 100vh;
}
.container {
    margin: 0 auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

@media (max-width: 1540px) and (min-width: 1040px) {
    .container {
        max-width: 1140px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1540px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 1540px) {
    .container {
        max-width: 1520px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 1040px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.landing-section {
    margin-bottom: 50px;
}

@keyframes in-data {
    0% {
        opacity: 0;
        transform: scale(0.92);
    }
    60% {
        opacity: 1;
    }
    to {
        transform: none;
    }
}

.router-anim-enter-active {
    animation: coming 1s;
    animation-delay: 0.2s;
    opacity: 0;
}
.router-anim-leave-active {
    animation: going 0.1s;
}

@keyframes going {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* tooltip */
.tooltip {
    display: block !important;
    z-index: 10000;
}
.tooltip .tooltip-inner {
    background: #303133;
    color: white;
    border-radius: 4px;
    padding: 5px 10px 5px;
    font-size: 1.3rem;
}
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #303133;
}
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
    margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}
