.filters-wrap {
    display: grid;
    grid-template-columns: auto 42px;
    align-items: center;
}

.primary-filters {
    z-index: 700;
}
.filters {
    margin: 40px 0;
    margin-bottom: 25px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(5, 170px);
}

.filter-select > .name {
    color: rgb(var(--color-gray-900));
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
}
.search-wrap {
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1), 0 4px 4px rgba(var(--color-shadow-blue), 0.04);
    display: grid;
    font-size: 1.3rem;
    font-weight: 600;
    grid-gap: 10px;
    grid-template-columns: 13px auto 13px;
    letter-spacing: 0.03rem;
    padding: 11px 16px;
    padding-left: 13px;
}
.search-wrap .icon {
    color: rgb(var(--color-gray-800));
    font-size: 1.3rem;
    height: 1.6rem;
    width: 1em;
}
.search {
    background: 0 0;
    border: none;
    color: rgb(var(--color-gray-700));
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}
.select-wrap {
    position: relative;
    width: 100%;
}
.select {
    align-items: center;
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1), 0 4px 4px rgba(var(--color-shadow-blue), 0.04);
    cursor: pointer;
    display: grid;
    font-size: 1.3rem;
    font-weight: 600;
    grid-template-columns: auto 20px;
    letter-spacing: 0.03rem;
    padding: 11px 16px;
    outline: 0;
}
.value-wrap {
    position: relative;
    max-height: 14px;
}

.placeholder,
.tags,
.value {
    position: absolute;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.value {
    text-transform: capitalize;
}
.placeholder {
    color: rgb(var(--color-gray-500));
}

.filter {
    background: 0 0;
    border: none;
    color: rgb(var(--color-gray-700));
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}
.tag {
    color: rgb(var(--color-gray-800));
    background: rgba(var(--color-background-300), 0.8);
    border-radius: 6px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 15px;
    margin-left: -8px;
    margin-top: -5px;
    padding: 5px 8px;
    text-transform: capitalize;
}

/* options */
.options {
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.15), 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
    left: 0;
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    z-index: 50;
}
.scroll-wrap {
    max-height: 500px;
    overflow: auto;
    overscroll-behavior: contain;
    padding: 10px;
}
.group-title {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
    margin-top: 15px;
    padding: 4px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.option-group:first-of-type .group-title {
    margin-top: 0;
}
.option {
    border-radius: 4px;
    color: rgb(var(--color-gray-700));
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 12px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    white-space: normal;
}

.label {
    display: grid;
    grid-template-columns: auto 16px;
}

.option.selected,
.option:hover {
    color: rgb(var(--color-blue-600));
    background: rgba(var(--color-background-200), 0.6);
}

.circle {
    align-items: center;
    border-radius: 50%;
    color: rgb(var(--color-white));
    display: grid;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}
.selected-icon {
    background: rgb(var(--color-blue-500));
    font-size: 0.8rem;
    height: 16px;
    width: 16px;
}
.selected-icon svg {
    width: 1.5em;
}

@media (min-width: 1540px) {
    .filters {
        grid-template-columns: repeat(6, 180px);
    }
}
@media (max-width: 1040px) {
    .filters-wrap {
        grid-template-columns: auto;
    }
    .filters {
        overflow-x: auto;
        white-space: nowrap;
        grid-template-columns: repeat(6, auto);
        scroll-snap-type: x mandatory;
        margin-bottom: -560px;
        padding-bottom: 600px;
    }
    .filters > .filter {
        width: 190px;
        scroll-snap-align: start;
        padding-left: 20px;
    }
}
