h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.overview > div {
    margin-bottom: 30px;
}

.media-manga .content .grid-wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.media-manga .content .grid-wrap.grid-wrap-half {
    grid-template-columns: repeat(4, 1fr);
}
.media-preview-card {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    display: inline-grid;
    grid-template-columns: 85px auto;
    height: 115px;
    max-height: 115px;
}
.cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px 0 0 3px;
}
.content {
    background: rgb(var(--color-foreground));
    border-radius: 0 3px 3px 0;
    padding: 12px;
    position: relative;
}
.info-header {
    color: rgb(var(--color-blue));
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.title {
    display: -webkit-box;
    font-size: 1.4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.info {
    bottom: 12px;
    color: rgb(var(--color-text-lighter));
    font-size: 1.2rem;
    left: 12px;
    position: absolute;
}

.role-card {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    height: 80px;
    overflow: hidden;
}
.view-character {
    grid-template-columns: 100%;
    grid-template-areas: "character";
}
.role-card > div {
    display: inline-grid;
    grid-template-columns: 60px auto;
    grid-template-areas: "image content";
}

.content {
    font-size: 1.3rem;
    overflow: hidden;
    padding: 10px;
}

.content .name {
    display: block;
    height: 48px;
    line-height: 1.3;
}

.content .role {
    color: rgb(var(--color-text-lighter));
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-transform: capitalize;
}

.view-staff {
    grid-template-areas: "staff";
    grid-template-columns: 100%;
}

.grid-section-wrap {
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: "status .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.video {
    border-radius: 4px;
    height: 230px;
    overflow: hidden;
    width: 100%;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    grid-gap: 20px;
    justify-content: space-between;
}
.recommendation-card {
    max-width: 100%;
    vertical-align: top;
    width: 130px;
}
.recommendation-card .cover {
    box-shadow: 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
    display: grid;
    grid-template-rows: 1fr auto;
    height: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
    width: 130px;
}

.recommendation-card .title {
    -webkit-line-clamp: 2;
    font-weight: 600;
    font-size: 1.3rem;
}

.media-characters {
    margin-bottom: 60px;
}

/* reviews */
.review-wrap {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 30px;
    overflow: hidden;
}

.review-card {
    display: grid;
    grid-template-columns: 50px auto;
}
.user {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    display: block;
    height: 50px;
    width: 50px;
}

.review-card .content {
    align-items: center;
    background: rgb(var(--color-foreground));
    border-radius: 4px;
    margin-left: 20px;
    position: relative;
    transition: 0.2s;
    overflow: visible;
}

.review-card .content:before {
    border-color: transparent rgb(var(--color-foreground)) transparent transparent;
    border-style: solid;
    border-width: 6px 9px 6px 0;
    content: "";
    display: block;
    height: 10px;
    left: -9px;
    position: absolute;
    top: 12px;
    width: 10px;
}

.summary {
    color: rgba(var(--color-text), 0.9);
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.4;
    padding: 13px 15px;
    padding-right: 25px;
    text-align: center;
}

.votes {
    bottom: 10px;
    color: rgb(var(--color-text-lighter));
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
}
.votes svg {
    display: inline-block;
    width: 1em;
}

/* media stats */

.rankings-wrap .rankings {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.ranking {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    display: block;
    padding: 8px 12px;
    width: 100%;
}
.ranking .icon {
    vertical-align: middle;
    width: 1.2em;
    font-size: 0.75em;
}
.ranking.rated .icon {
    color: rgb(var(--color-yellow));
    fill: rgb(var(--color-yellow));
}
.ranking.popular .icon {
    color: rgb(var(--color-red));
    fill: rgb(var(--color-red));
}
.rank-text {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    width: calc(100% - 20px);
}

/* status distributions */

.status-distribution {
    padding: 0 !important;
    overflow: hidden;
}

.graph {
    margin-bottom: 30px;
}
.status-distribution .content-wrap {
    border-radius: 4px;
    background: rgb(var(--color-foreground));
    font-size: 1.4rem;
}
.status-distribution .statuses {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    padding: 20px;
}
.status-distribution .status {
    text-align: center;
}
.status-distribution .name {
    height: auto;
    background: #673ab7;
    border-radius: 4px;
    color: rgb(var(--color-white));
    margin-bottom: 8px;
    padding: 6px 15px;
    text-transform: capitalize;
}

.status-distribution .label {
    color: rgba(var(--color-text-light), 0.6);
    font-size: 1.2rem;
}

/* Social */
.social {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.thread-card {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 18px;
    position: relative;
}
.no-threads {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    display: block;
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
}

.social .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.social .title {
    margin-right: 110px;
    margin-bottom: 12px;
}

.social .avatar {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    display: inline-block;
    height: 25px;
    vertical-align: text-top;
    width: 25px;
}
.social .info {
    color: rgb(var(--color-text-lighter));
    font-size: 1.3rem;
    position: absolute;
    right: 12px;
    top: 12px;
    left: auto;
    bottom: auto;
}
.social .info span {
    padding-left: 10px;
}
.social .info svg {
    width: 1.125em;
    vertical-align: -0.225em;
    margin-right: 2px;
    color: rgb(var(--color-gray-900));
}

.social .name {
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 10px;
    height: auto;
}

.social .categories {
    margin-left: auto;
}
.social .category {
    border-radius: 100px;
    color: #fff;
    display: inline;
    font-size: 1.1rem;
    margin-left: 10px;
    padding: 4px 8px;
    text-transform: lowercase;
}
.social .categories .Manga {
    background: rgb(76, 175, 80);
}
.social .categories .News {
    background: rgb(0, 150, 136);
}
.social .categories .Anime {
    background: rgb(0, 170, 255);
}
.social .categories .General {
    background: rgb(78, 163, 230);
}
.social .categories .Release.Discussion {
    background: rgb(103, 58, 183);
}

.activity-entry {
    margin-bottom: 20px;
    min-width: 0;
}
.activity-entry .wrap {
    display: block;
    background: rgb(var(--color-foreground));
    border-radius: 4px;
    font-size: 1.3rem;
    overflow: hidden;
    position: relative;
}
.activity-entry .list {
    display: grid;
    grid-template-columns: 80px auto;
    height: 100%;
    min-height: 110px;
}
.activity-entry .cover,
.activity-entry .avatar {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.list .details {
    padding: 14px 16px;
    padding-right: 100px;
}
.list .name {
    color: rgb(var(--color-blue));
    display: inline-block;
    font-size: 1.4rem;
    padding-bottom: 8px;
    padding-left: 0;
}
.list .avatar {
    border-radius: 3px;
    height: 36px;
    margin-top: 9px;
    width: 36px;
}
.time {
    color: rgb(var(--color-text-lighter));
    font-size: 1.2rem;
    position: absolute;
    right: 12px;
    top: 12px;
    font-weight: 700;
}
