.link {
    align-items: flex-end;
    display: flex;
}
.link .expand {
    color: rgb(var(--color-gray-600));
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    text-transform: none;
    transition: color 0.2s ease;
}
.landing .title {
    position: relative;
    z-index: 5;
}
.results {
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
}

.media-card {
    display: grid;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    position: relative;
    width: 185px;
}

.cover {
    background: rgba(var(--color-background-300), 0.8);
    border-radius: 4px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.15), 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}

.cover .image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}
.image[lazy="loaded"] {
    opacity: 1;
}
.media-card .title {
    color: rgb(var(--color-gray-700));
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    transition: color 0.2s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.circle {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(var(--color-white));
    display: grid;
    font-size: 1.3rem;
    font-weight: 700;
    height: 25px;
    width: 25px;
}
.rank {
    background: #3480ea;
    color: rgb(var(--color-white));
    display: flex;
    font-size: 1.6rem;
    font-weight: 900;
    height: 38px;
    left: -8px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -8px;
    transition: color 0.2s, background 0.2s;
    width: 38px;
    z-index: 6;
}

.rank .hash {
    font-size: 1.2rem;
    padding-top: 2px;
    opacity: 0.8;
}

.alias-title {
    font-size: 2.8rem;
    color: rgb(var(--color-gray-800));
    font-weight: 800;
    margin-bottom: -45px;
    margin-top: 35px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.no-results {
    animation: fade-in 0.4s ease;
    font-size: 2rem;
    font-weight: 700;
    opacity: 1;
    padding: 30px;
    text-align: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* responsive */
@media (max-width: 1540px) {
    .results {
        grid-gap: 25px 20px;
    }
}

@media (max-width: 1540px) and (min-width: 1040px) {
    .landing-section:not(.top) .results > div:nth-child(n + 6) {
        display: none;
    }
}
@media (max-width: 1065px) {
    .results {
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
        justify-content: center;
    }
}

@media (max-width: 1040px) {
    .results {
        grid-gap: 25px 14px;
    }
    .media-card {
        width: 100%;
    }
    .cover {
        height: auto;
        border-radius: 5px;
    }

    .cover:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        padding-bottom: 142.85714%;
    }
}

@media (max-width: 860px) and (min-width: 645px) {
    .landing-section:not(.top) .results > div:nth-child(n + 6) {
        display: none;
    }
}
@media (max-width: 721px) and (min-width: 582px) {
    .landing-section:not(.top) .results > div:nth-child(n + 5) {
        display: none;
    }
}
